[Unit]
Description=%p container
Requires=service.system.docker.service
After=service.system.docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=0
ExecStart=/bin/sh /storage/.kodi/addons/%p/bin/%p start
ExecStop=/bin/sh /storage/.kodi/addons/%p/bin/%p stop

[Install]
WantedBy=multi-user.target
